div.cat-roster-entry {
    display: flex;
}

div.cat-stats {
    width: 30%;
    text-align: center;
}

div.cat-picture {
    width: 70%;
    display: flex;
    justify-content: center;
}

div.roster-overall-stats {
    display: block;
    text-align: center;
}